<section>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="category-comment">Categorie</label>
            <select name="category-comment" id="category-comment" #category="ngModel" [(ngModel)]="com.category" required>
                <option *ngFor="let cat of categories" [value]="cat">
                    {{cat}}
                </option>
            </select>
        </div>
        <div *ngIf="category.errors">
            <span *ngIf="category.errors?.required">Le champs est requis </span>
        </div>
        <div>
            <label for="pseudo-comment">Pseudo</label>
            <input name="pseudo-comment" id="pseudo-comment" type="text" #pseudo="ngModel" [(ngModel)]="com.pseudo" required minlength="5">
        </div>
        <div *ngIf="pseudo.errors">
            <span *ngIf="pseudo.errors?.required">Le titre est requis</span>
            <span *ngIf="pseudo.errors?.minlength">La longueur minimale doit être supérieur à 5 caractères</span>
        </div>
        <div>
            <label for="score-comment">Note</label>
            <input name="score-comment" id="score-comment" type="number" #score="ngModel" [(ngModel)]="com.score" required>
        </div>
        <div *ngIf="score.errors">
            <span *ngIf="score.errors?.required">Le champs est requis </span>
        </div>
        <div>
            <label for="comment-comment">Commentaire</label>
            <input name="comment-comment" id="comment-comment" type="text" #comment="ngModel" [(ngModel)]="com.comment" required>
        </div>
        <div *ngIf="comment.errors">
            <span *ngIf="comment.errors?.required">Le champs est requis </span>
        </div>


        <div>
            <button type="reset">Restaurer</button>
            <button [disabled]="!myForm.valid" id='submit' type="submit">Envoyer</button>
        </div>
    </form>
</section>

<section *ngFor="let coms of commentList" id="allcoms">
    <h3>{{coms.pseudo}} <span> {{coms.category}}</span></h3>
    <strong>{{coms.score}}</strong>
    <p>{{coms.comment}}</p>

</section>